.theme-dark {
    --bg-overlay-color: 0 0 0;
    --bg-overlay-color-inverse: 255 255 255;
    --bg-overlay-opacity-1: 0.85;
    --bg-overlay-opacity-2: 0.8;
    --bg-overlay-opacity-3: 0.7;
    --bg-overlay-opacity-4: 0.5;
    --bg-overlay-opacity-5: 0.4;
    --bg-overlay-opacity-6: 0.1;
    --bg-overlay-opacity-hover: 0.5;
    --bg-overlay-opacity-hover-inverse: 0.08;
    --bg-overlay-opacity-active: 0.45;
    --bg-overlay-opacity-active-inverse: 0.1;
    --bg-overlay-opacity-selected: 0.4;
    --bg-overlay-opacity-selected-inverse: 0.15;
    --bg-overlay-opacity-chat: 0.8;
    --bg-overlay-opacity-home: 0.85;
    --bg-overlay-opacity-home-card: 0.8;
    --bg-overlay-opacity-app-frame: var(--bg-overlay-opacity-4);

    // Server icons
    .circleIconButton_db6521:not(.selected_db6521) {
        background: rgb(var(--bg-overlay-color-inverse) / var(--bg-overlay-opacity-6));
    }

    .wrapper__8436d:not(:hover):not(.selected_ae80f7) .childWrapper_a6ce15 {
        background: rgb(var(--bg-overlay-color-inverse) / var(--bg-overlay-opacity-6));
    }

    .folder_bc7085 {
        background: var(--bg-overlay-6, var(--background-secondary));
    }

    .expandedFolderBackground_bc7085 {
        background: rgb(var(--bg-overlay-color-inverse) / var(--bg-overlay-opacity-6));
    }

    // Scrollbar
    .customTheme_eed6a8.auto_eed6a8::-webkit-scrollbar-thumb,
    .customTheme_eed6a8.thin_eed6a8::-webkit-scrollbar-thumb {
        background-size: 200vh;
        background-image: linear-gradient(
                rgb(var(--bg-overlay-color-inverse) / var(--bg-overlay-opacity-4)),
                rgb(var(--bg-overlay-color-inverse) / var(--bg-overlay-opacity-4))
            ),
            var(--custom-theme-background);
    }

    .customTheme_eed6a8.auto_eed6a8::-webkit-scrollbar-track {
        background-size: 200vh;
        background-image: linear-gradient(rgb(var(--bg-overlay-color) / 0.4), rgb(var(--bg-overlay-color) / 0.4)),
            var(--custom-theme-background);
    }
}
